.nav {
    grid-area: n;
    background-color: burlywood;
}

.item a {
    color: white;
    text-decoration: none;

}

.item a.activeClass {
    color: gold;
}

.friendBlock {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.friendBlock img {
    width: 30px;
}
.friendBlockTitle {
    text-align: center;
}
